/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Sanchez", serif;
}

.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entete__titre {
  font-size: 50px;
  margin-bottom: 0;
  color: #4caf50;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}
.entete__welcome {
  text-align: left;
  font-size: 30px;
  margin: 20px 0;
  color: #333;
  padding: 30px 40px 0px 0px;
}
.entete__icone {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.form-event {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-event__titre {
  font-size: 20px;
  margin-bottom: 10px;
}
.form-event__label {
  display: block;
  margin-bottom: 5px;
}
.form-event__champ, .form-event__zone-texte {
  width: 66%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.form-event__champ-date {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.form-event input[type=date] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.form-event__btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.form-event__btn:hover {
  background-color: #45a049;
}
.form-event__btn__plus {
  height: 13px;
  width: 13px;
}

.menu__btn {
  border-radius: 5px;
  margin-bottom: 20px;
}
.menu__btn__events {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.menu__btn__events:hover {
  background-color: #45a049;
}

.container-cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: "Sanchez", sans-serif;
  margin-bottom: 15px;
}
.card__header {
  background-color: white;
  margin-left: 5%;
  text-align: left;
}
.card__header__title {
  font-family: "Sanchez", sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  color: #4caf50;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  margin-top: 5px;
}
.card__header__author, .card__header__descp {
  font-family: "Sanchez", sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}
.card__table {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card__table th, .card__table td {
  padding: 8px;
  border: 1px solid #ddd;
}
.card__table th {
  background-color: #f8f8f8;
}
.card__table td {
  position: relative;
}
.card__btn {
  border-radius: 5px;
  margin-bottom: 20px;
}
.card__btn__join, .card__btn__modif, .card__btn__suppress {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.card__btn__join:hover, .card__btn__modif:hover, .card__btn__suppress:hover {
  background-color: #45a049;
}

.presence-mark {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
  position: relative;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
}

.presence-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.v-mark::before {
  background-color: #2ecc71;
}

.x-mark::before {
  background-color: #e74c3c;
}

.presence-mark:hover::before {
  border: 2px solid #333;
}

.v-mark {
  border-color: #2ecc71;
}

.x-mark {
  border-color: #e74c3c;
}

#check {
  color: #45a049;
}

#uncheck {
  color: red;
}/*# sourceMappingURL=style.css.map */