@import 'style/reset';
@import 'style/mixins';
@import 'style/body';
@import 'style/typography';
@import 'style/buttons';
@import 'style/input';


// style général de l'app 
.app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Sanchez", serif;
  }

// style du titre de l'app
  .entete__titre {
    font-size: 50px;
    margin-bottom: 20px;
  }
 // style du message de bienvenue  
  .entete__welcome { 
      text-align: left;
      font-size: 30px;
      margin-top: 20px;
      color: #333;
    
  }
  // style du formulaire à compléter
  .form-event {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    &__titre {
      font-size: 20px;
      margin-bottom: 10px;
    }
  // style des labels (les labels sont les titres correspondants à chaque champ ex: "nom de l'évènement:","descriptions:",...)
    &__label {
      display: block;
      margin-bottom: 5px;
    }
  // style des champs ou l'utilisateur inscrit ses informations
    &__champ,
    &__zone-texte {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
  
    &__champ-date {
      width: 50%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
  // style à l'intérieur du champ de type "date" 
    input[type="date"] {
      appearance: none;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
  // style du bouton 
    &__bouton {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
  // style donnant un effet changement de couleur lorsque l'utilisateur passe la souris sur le bouton 
      &:hover {
        background-color: #45a049;
      }
    }
  }
  // style du conteneur de la liste ou seront stockés les évènements 
  .event-list-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
 
  .list-event {
    &__titre {
      font-size: 1.5em;
    }
  
    &__liste {
      list-style-type: none;
      padding: 0;
      margin: 0;
  // style des éléments de la liste des évènements
      &__item {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
  
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  

  body {
    margin-bottom: 30px;
  }